MindEngine/Content/Package.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Package">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Fonts" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Font" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="Name" type="xs:string" use="required"/>
                  <xs:attribute name="Size" type="xs:unsignedInt" use="required"/>
                  <xs:attribute name="Asset" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Texture" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Image" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Design" minOccurs="1">
                      <xs:complexType>
                        <xs:attribute name="ScreenWidth" type="xs:unsignedInt" use="required"/>
                        <xs:attribute name="ScreenHeight" type="xs:unsignedInt" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required"/>
                  <xs:attribute name="Asset" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Cursors" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Cursor" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Design" minOccurs="1">
                      <xs:complexType>
                        <xs:attribute name="NormalSelect" type="xs:string" use="required"/>
                        <xs:attribute name="HelpSelect" type="xs:string" use="required"/>
                        <xs:attribute name="WorkingInBackground" type="xs:string" use="required"/>
                        <xs:attribute name="Busy" type="xs:string" use="required"/>
                        <xs:attribute name="PrecisionSelect" type="xs:string" use="required"/>
                        <xs:attribute name="TextSelect" type="xs:string" use="required"/>
                        <xs:attribute name="Handwriting" type="xs:string" use="required"/>
                        <xs:attribute name="Unavailable" type="xs:string" use="required"/>
                        <xs:attribute name="VerticalResize" type="xs:string" use="required"/>
                        <xs:attribute name="HorizontalResize" type="xs:string" use="required"/>
                        <xs:attribute name="DiagonalResize1" type="xs:string" use="required"/>
                        <xs:attribute name="DiagonalResize2" type="xs:string" use="required"/>
                        <xs:attribute name="Move" type="xs:string" use="required"/>
                        <xs:attribute name="AlternativeSelect" type="xs:string" use="required"/>
                        <xs:attribute name="LinkSelect" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Hotspot" minOccurs="1">
                      <xs:complexType>
                        <xs:attribute name="NormalSelect" type="xs:string" use="required"/>
                        <xs:attribute name="HelpSelect" type="xs:string" use="required"/>
                        <xs:attribute name="WorkingInBackground" type="xs:string" use="required"/>
                        <xs:attribute name="Busy" type="xs:string" use="required"/>
                        <xs:attribute name="PrecisionSelect" type="xs:string" use="required"/>
                        <xs:attribute name="TextSelect" type="xs:string" use="required"/>
                        <xs:attribute name="Handwriting" type="xs:string" use="required"/>
                        <xs:attribute name="Unavailable" type="xs:string" use="required"/>
                        <xs:attribute name="VerticalResize" type="xs:string" use="required"/>
                        <xs:attribute name="HorizontalResize" type="xs:string" use="required"/>
                        <xs:attribute name="DiagonalResize1" type="xs:string" use="required"/>
                        <xs:attribute name="DiagonalResize2" type="xs:string" use="required"/>
                        <xs:attribute name="Move" type="xs:string" use="required"/>
                        <xs:attribute name="AlternativeSelect" type="xs:string" use="required"/>
                        <xs:attribute name="LinkSelect" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>