MindEngine/Content/Package.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Package">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Fonts">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Font">
                <xs:complexType>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="Size" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="Asset" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Texture">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Image">
                <xs:complexType>
                  <xs:sequence minOccurs="1">
                    <xs:element name="Design">
                      <xs:complexType>
                        <xs:attribute name="ScreenWidth" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="ScreenHeight" type="xs:unsignedShort" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="Asset" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>